:root {
  --primary: #d6336c;
  --primary-light: #d6336c66;
  --border: #a61e4d;
  --white: #fff;
  --black: #0f0f0f;
  --light-black: #222;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
}

.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  background-color: var(--light-black);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo-icon {
  font-size: 3.2rem;
  color: var(--primary);
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--white);
  transition: all 0.5s;
}

a:hover,
a:active {
  color: var(--primary);
}

nav {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

nav a {
  font-size: 1.8rem;
  font-weight: 500;
}

nav a.active-link {
  color: var(--primary);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat
    radial-gradient(circle closest-side, var(--primary) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.hidden {
  display: none !important;
}

.no-data {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 72px);
}

.main {
  padding-bottom: 82px;
}

/* card-box */
.grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: 6rem;
}

.grid-box figure {
  width: 100%;
  height: 180px;
  overflow: hidden;
  background-color: var(--white);
  padding: 1.8rem 1.4rem;
  /* border-radius: 16px; */
}

.grid-box figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-details {
  margin-top: 1rem;
}

.product-details .category {
  opacity: 0.7;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.product-details .title {
  margin-bottom: 2rem;
  line-height: 1.2;
}

.product-details .price {
  color: var(--white);
  background-color: var(--primary-light);
  padding: 0.8rem 1.4rem;
  display: inline-block;
  font-size: 1.4rem;
}

.load-more-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem 0;
}

/* button */
.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.4rem var(--primary-light);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover:enabled {
  opacity: 0.9;
}

footer {
  background-color: var(--light-black);
  padding: 2.8rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 1.4rem;
}

.footer-text .github-link {
  color: var(--primary);
}

@media (max-width: 768px) {
  .grid-box {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 4rem;
    row-gap: 4rem;
  }

  .load-more-box {
    margin: 6rem 0;
  }
}
