:root {
  --primary: #d6336c;
  --secondary: #e64980;
  --border: #a61e4d;
  --white: #fff;
  --black: #0f0f0f;
  --light-black: #121212;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
}

.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}

header {
  background-color: var(--light-black);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo-icon {
  font-size: 3.2rem;
  color: var(--primary);
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--white);
  transition: all 0.5s;
}

a:hover,
a:active {
  color: var(--primary);
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a {
  font-size: 1.8rem;
  font-weight: 500;
}
